/* Global Styles */
:root {
  /* https://www.nordtheme.com/#palettes-modularity */

  /* Frost */
  --accent: #5e81ac;
  --corduroy: #81a1c1;
  --ocean: #88c0d0;
  --blueGreen: #8fbcbb;
  /* Snowstorm */
  --background: #eceff4;
  --offWhite: #e5e9f0;
  --greyWhite: #d8dee9;
  /* Polar Night */
  --text: #2e3440;
  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
}

body {
  margin: 0;
  font-family: monospace, sans-serif;
  font-size: 18px;
  line-height: 1.56;
  background-color: var(--background);
  color: var(--text);
}

a:hover {
  color: var(--accent);
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

.home-link {
  text-decoration: none;
  color: var(--text);
}

@media (min-width: 37.5em) {
  /*600px*/
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

.header {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background);
}

/* SECTIONS */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

/* ICONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1 {
  border: var(--accent) 0.1rem solid;
  background: var(--accent);
  color: var(--offWhite);
}

.btn-color-1:hover {
  cursor: pointer;
  background: var(--text);
}
